version: "3.9"
services:
  api:
    image: ejemplo-api:v1.0.0
    ports:
      - "3000:3000"
    environment:
      - MONGO_USER=admin
      - MONGO_PASSWORD=secret
      - MONGO_DB=mi-mongo
      - MONGO_PORT=27017
      - MONGO_URI=mongodb://admin:secret@db:27017/mi-mongo?authSource=admin
    depends_on:
      - db
  db:
    image: mongo
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=secret
    volumes:
      - mongo-data:/data/db
volumes:
  mongo-data: